@font-face {
    font-family: 'HKGrotesk';
    font-weight: 300;
    src: url('../fonts/hk-grotesk-light/hk-grotesk-light.eot');
    src: url('../fonts/hk-grotesk-light/hk-grotesk-light.eot?iefix') format('eot'),
    url('../fonts/hk-grotesk-light/hk-grotesk-light.woff') format('woff'),
    url('../fonts/hk-grotesk-light/hk-grotesk-light.ttf') format('truetype'),
    url('../fonts/hk-grotesk-light/hk-grotesk-light.svg#webfont') format('svg');
}

@font-face {
    font-family: 'LeagueSpartan';
    font-weight: 700;
    src: url('../fonts/league-spartan-bold/league-spartan-bold.eot');
    src: url('../fonts/league-spartan-bold/league-spartan-bold.eot?iefix') format('eot'),
    url('../fonts/league-spartan-bold/league-spartan-bold.woff') format('woff'),
    url('../fonts/league-spartan-bold/league-spartan-bold.ttf') format('truetype'),
    url('../fonts/league-spartan-bold/league-spartan-bold.svg#webfont') format('svg');
}

h2, h3, h4,
p, button {
    margin: 0;
    padding: 0;
}

body {
    font: 24px 'HKGrotesk', sans-serif;
    background-color: #272f45;
}

.page-wrap {
    max-width: 1160px;
    margin: 63px auto 0;
    padding-bottom: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header-link {
    text-decoration: none;
    display: inline-block;
}

.header-link__logo {
    width: 294px;
    height: 72px;
}

.search {
    display: flex;
    align-self: center;
    border-bottom: 3px solid #63757e;
    padding-bottom: 8px;
}

.search__icon {
    width: 22px;
    height: 23px;
    background: transparent url("../img/search.png") no-repeat;
    border: none;
    padding: 0;
    margin-right: 9px;
    cursor: pointer;
    transition: opacity .1s;
}

.search__icon:hover {
    opacity: 0.5;
}

.search__icon, .search__input:focus {
    outline: none;
}

.search input::placeholder {
    color: #92a1a9;
}

.search input.search__input::-webkit-input-placeholder {
    color: #92a1a9;
}

.search__input {
    width: 145px;
    border: none;
    background-color: transparent;
    font-family: 'HKGrotesk', sans-serif;
    color: #92a1a9;
    height: 24px;
    padding: 0 0 1px;
    overflow: hidden;
}

.main-content {
    margin-bottom: 150px;
}

.products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.products:last-child {
    margin-bottom: 0;
}

.product-item {
    display: flex;
    position: relative;
    overflow: hidden;
}

.product-item-size-for-one-img {
    width: 1160px;
    height: 690px;
}

.product-item-size-for-two-img {
    width: 560px;
    height: 520px;
}

.product-item-size-for-three-img {
    width: 360px;
    height: 440px;
}

.product-item_bg-for-one-img {
    background-color: #aebbc0;
}

.product-item_bg-one-of-duet {
    background-color: #60b8a3;
}

.product-item_bg-one-duet {
    background-color: #7778c6;
}

.product-item_bg-one-of-trio {
    background-color: #e97864;
}

.product-item_bg-one-trio {
    background-color: #557581;
}

.product-item_bg-img-of-trio {
    background-color: #82c9d8;
}

.product-img-for-one-img {
    width: 1160px;
    height: 690px;
}

.product-img-one-of-duet {
    width: 479px;
    height: 531px;
    top: 188px;
    left: -100px;
}

.product-img-one-duet {
    width: 522px;
    height: 328px;
    bottom: -48px;
    right: -100px;
}

.product-img-one-of-trio {
    width: 400px;
    height: 670px;
    top: 253px;
    left: -20px;
}

.product-img-one-trio {
    width: 430px;
    height: 395px;
    left: -39px;
    bottom: 128px;
}

.product-img-of-trio {
    width: 303px;
    height: 316px;
    bottom: -122px;
    left: 29px;
}

.product-item__img {
    position: absolute;
}

.product-item__badge {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 2;
}

.info {
    position: absolute;
    z-index: 2;
    color: #fff;
    overflow: hidden;
}

.info__title {
    text-transform: uppercase;
    font-family: 'LeagueSpartan', sans-serif;
    white-space: nowrap;
    overflow: hidden;
}

.info-for-one-img .info__title {
    font-size: 80px;
    margin-bottom: 25px;
}

.info-for-two-img .info__title {
    font-size: 48px;
    padding-top: 1px;
    margin-bottom: 13px;
}

.info-for-three-img .info__title {
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 22px;
}

.info__text_size-for-one-img {
    font-size: 32px;
    margin-bottom: 137px;
}

.info__text_size-for-two-img {
    font-size: 24px;
    margin-bottom: 63px;
}

.info__text_size-for-three-img {
    font-size: 16px;
}

.info__link {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 114px;
    height: 42px;
    font: 18px 'LeagueSpartan', sans-serif;
    color: #fff;
    border: 3px solid #eec9a2;
    overflow: hidden;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}

.info-link-for-one-img {
    text-transform: capitalize;
    width: 154px;
    height: 54px;
    font: 24px 'HKGrotesk', sans-serif;
    transition: font .2s, text-transform .2s;
}

.info__link:hover {
    background-color: #eec9a2;
    color: #000;
}

.info-link-for-one-img:hover {
    text-transform: uppercase;
    font: 18px 'LeagueSpartan', sans-serif;
}

.info .info__link.info-link-for-one-img {
    line-height: 54px;
}

.info .info__link {
    line-height: 42px;
}

.info-for-one-img {
    width: 365px;
    top: 105px;
    left: 60px;
}

.info-for-two-img {
    width: 445px;
    top: 63px;
}

.info-for-three-img {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 68px;
    overflow: hidden;
}

.info-for-three-img .info__title,
.info-for-three-img .info__text {
    padding: 0 5px;
}

.product-img-one-of-duet ~ .info-for-two-img {
    text-align: right;
    right: 30px;
}

.product-img-one-duet ~ .info-for-two-img {
    text-align: left;
    left: 30px;
}

.align-self-end {
    bottom: 36px;
}

.info-for-three-img .info__title {
    order: 2;
}

.info-for-three-img .info__link {
    order: 3;
}

.footer {
    width: 810px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text {
    width: 810px;
    text-align: center;
    font-size: 18px;
    color: #7f919b;
    margin-bottom: 50px;
}

.footer-text-title {
    font-size: 36px;
    color: #92a1a9;
    margin-bottom: 20px;
}

.user-info {
    margin-bottom: 103px;
}

.user-info .user-info__item {
    line-height: 54px;
}

.user-info__item {
    text-transform: uppercase;
    display: block;
    width: 354px;
    height: 54px;
    font: 18px 'LeagueSpartan', sans-serif;
    color: #fff;
    border: 3px solid #82c9d8;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
}

.user-info-input {
    width: 348px;
    text-transform: none;
    text-align: center;
    font: 24px 'HKGrotesk', sans-serif;
    color: #92a1a9;
    border: 3px solid #63757e;
    margin-bottom: 20px;
}

.user-info-input:focus {
    outline: none;
    border: 3px solid #82c9d8;
}

.user-info-input:hover {
    border: 3px solid #82c9d8;
}

.user-info input::placeholder {
    color: #92a1a9;
}

.user-info input.user-info-input::-webkit-input-placeholder {
    color: #92a1a9;
}

.footer-nav {
    display: flex;
    width: 810px;
    justify-content: center;
    margin-bottom: 33px;
    white-space: nowrap;
    overflow: hidden;
}

.footer-nav__item {
    text-decoration: none;
    text-transform: capitalize;
    color: #92a1a9;
    transition: color .1s;
}

.footer-nav__item:hover {
    color: #fff;
}

.footer-nav__item::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #92a1a9;
    border-radius: 50%;
    margin: 0 15px;
    vertical-align: middle;
}

.footer-nav__item:last-child::after {
    display: none;
}

.footer__text-copyright {
    text-transform: capitalize;
    width: 810px;
    text-align: center;
    font-size: 18px;
    color: #7f919b;
    overflow: hidden;
}