@font-face {
    font-family: 'HKGrotesk-Light';
    src: url('../fonts/hk-grotesk-light/hk-grotesk-light.eot');
    src: url('../fonts/hk-grotesk-light/hk-grotesk-light.eot?iefix') format('eot'),
    url('../fonts/hk-grotesk-light/hk-grotesk-light.woff') format('woff'),
    url('../fonts/hk-grotesk-light/hk-grotesk-light.ttf') format('truetype'),
    url('../fonts/hk-grotesk-light/hk-grotesk-light.svg#webfont') format('svg');
}

@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url('../fonts/league-spartan-bold/league-spartan-bold.eot');
    src: url('../fonts/league-spartan-bold/league-spartan-bold.eot?iefix') format('eot'),
    url('../fonts/league-spartan-bold/league-spartan-bold.woff') format('woff'),
    url('../fonts/league-spartan-bold/league-spartan-bold.ttf') format('truetype'),
    url('../fonts/league-spartan-bold/league-spartan-bold.svg#webfont') format('svg');
}

h2, h3, h4,
p, button {
    margin: 0;
    padding: 0;
}

body {
    background-color: #272f45;
}

.page-wrap {
    max-width: 1160px;
    margin: 63px auto 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header-link {
    text-decoration: none;
    display: inline-block;
}

.header-link__logo {
    width: 294px;
    height: 72px;
}

.search {
    display: flex;
    align-self: center;
    border-bottom: 3px solid #63757e;
    padding-bottom: 8px;
}

.search__icon {
    width: 22px;
    height: 23px;
    background: transparent url("../img/search.png") no-repeat;
    border: none;
    padding: 0;
    margin-right: 9px;
    cursor: pointer;
}

.search__icon, .search__input:focus {
    outline: none;
}

.search input::placeholder {
    font: 24px "HKGrotesk-Light", sans-serif;
    color: #92a1a9;
}

.search__input {
    width: 145px;
    border: none;
    background-color: transparent;
    font: 24px "HKGrotesk-Light", sans-serif;
    color: #92a1a9;
    height: 24px;
    padding: 0;
    overflow: hidden;
}

.products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.product-item {
    display: flex;
    position: relative;
    overflow: hidden;
}

.product-item-size-for-one {
    width: 1160px;
    height: 690px;
}

.product-item-size-for-two {
    width: 560px;
    height: 520px;
}

.product-item-size-for-three {
    width: 360px;
    height: 440px;
}

.product-item_bg-coffee-instrument {
    background-color: #aebbc0;
}

.product-item_bg-beoplay {
    background-color: #60b8a3;
}

.product-item_bg-photography {
    background-color: #7778c6;
}

.product-item_bg-molekule {
    background-color: #e97864;
}

.product-item_bg-signature {
    background-color: #557581;
}

.product-item_bg-braun-dr {
    background-color: #82c9d8;
}

.product-img-coffee-instrument {
    width: 1160px;
    height: 690px;
}

.product-img-beoplay {
    width: 667px;
    height: 800px;
    top: -80px;
    right: 0;
}

.product-img-photography {
    width: 522px;
    height: 328px;
    bottom: -48px;
    right: -100px;
}

.product-img-molekule {
    width: 400px;
    height: 670px;
    top: 253px;
    left: -20px;
}

.product-img-signature {
    width: 767px;
    height: 468px;
    right: -85px;
    bottom: 128px;
}

.product-img-braun-dr {
    width: 303px;
    height: 316px;
    bottom: -122px;
    left: 29px;
}

.product-item__img {
    position: absolute;
}

.product-item__badge {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 2;
}

.info {
    position: absolute;
    z-index: 2;
    color: #fff;
    overflow: hidden;
}

.info__title {
    text-transform: uppercase;
    font-family: "LeagueSpartan-Bold", sans-serif;
}

h2.info__title {
    font-size: 80px;
    margin-bottom: 25px;
}

h3.info__title {
    font-size: 48px;
    margin-bottom: 13px;
}

h4.info__title {
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 22px;
}

.info__text {
    font-family: "HKGrotesk-Light", sans-serif;
}

.info__text_size-for-one {
    font-size: 32px;
    margin-bottom: 137px;
}

.info__text_size-for-two {
    font-size: 24px;
    margin-bottom: 63px;
}

.info__text_size-for-three {
    font-size: 16px;
}

.info__button {
    text-transform: uppercase;
    width: 114px;
    height: 42px;
    font: 18px "LeagueSpartan-Bold", sans-serif;
    color: #fff;
    border: 3px solid #eec9a2;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
}

.info__button:focus {
    outline: none;
}

button.info__button {
    line-height: 42px;
}

.info-button-for-one {
    text-transform: capitalize;
    width: 154px;
    height: 54px;
    line-height: 54px;
    font: 24px "HKGrotesk-Light", sans-serif;
}

.info-for-one {
    width: 365px;
    top: 110px;
    left: 60px;
}

.info-for-two {
    width: 445px;
    top: 63px;
    padding-top: 1px;
}

.info-for-three {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 68px;
    overflow: hidden;
}

.info-for-three .info__title,
.info-for-three .info__text {
    padding: 0 5px;
}

.product-img-beoplay ~ .info-for-two {
    text-align: right;
    right: 30px;
}

.product-img-photography ~ .info-for-two {
    text-align: left;
    left: 30px;
}

.align-self-end {
    bottom: 36px;
}

.info-for-three .info__title {
    order: 2;
}

.info-for-three .info__button {
    order: 3;
}
